**/target/*
**/*.iml
**/*.ipr
**/*.iws
.idea
out/
.gradle
.vscode
.DS_Store
build/
gradle-app.setting
!gradle-wrapper.jar
.svn/*
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
/target/
/bin/
/test-output/
/logs/